<section id="image-gallery" class="card">
    <div class="card-content">
        <div class="card-body" style="padding:0; padding-left:20px;margin-top:20px">
            <div class="c0l-md-3 uploadfile">
                <figure>
                    <a href="javascript:void(0)" data-size="480x360">
                        Upload File
                    </a>
                </figure>
            </div>
        </div>
        <div class="card-body  my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
            <div class="row">
                <figure class="col-lg-3 col-md-6 col-12" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" ng-repeat="item in DataChungTu" style="margin-bottom:10px;position:relative">
                    <span class="delete-img" ng-click="DeleteImg(item)">x</span>
                    <a href="{{item.Url}}/{{item.FileGuild}}.{{item.Ext}}" itemprop="contentUrl" data-size="480x360">
                        <img class="img-thumbnail img-fluid" style="height:190px; width:150px" src="{{item.Url}}/{{item.FileGuild}}.{{item.Ext}}"
                             itemprop="thumbnail" alt="Image description" />
                    </a>
                </figure>
            </div>
        </div>
        <!--/ Image grid -->
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="pswp__bg"></div>
            <div class="pswp__scroll-wrap">
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>
                <div class="pswp__ui pswp__ui--hidden">
                    <div class="pswp__top-bar">
                        <div class="pswp__counter"></div>
                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                        <button class="pswp__button pswp__button--share" title="Share"></button>
                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div>
                    </div>
                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                    <div class="pswp__caption hide">
                        <div class="pswp__caption__center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ PhotoSwipe -->
</section>