
@{
    ViewBag.Title = "Quản trị Khách hàng";
}
@Html.Action("AddBreadCrumb", "Common", new BreadCrumbModels
{
    Title = "Quản trị Khách hàng",
    ListLiModels = new List<LiModels>
    {
        new LiModels { Name = "Quản trị Khách hàng", IsActive = true}
    }
})
<div class="content-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-12 mb-1">
                            <fieldset class="form-group">
                                <input type="text" class="form-control border-primary" data-button="#btnSearch" id="txtKeyword" placeholder="Từ khóa tìm kiếm">
                            </fieldset>
                        </div>
                        <div class="col-xl-2 mb-1 skin skin-flat" style="padding-top: 8px">
                            <fieldset class="form-group">
                                <input type="checkbox" id="chkIsActive" class="switchery" data-size="sm" checked="" />
                                <label for="chkIsActive">Hoạt động</label>
                            </fieldset>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-12 mb-1">
                            <fieldset class="form-group">
                                <button type="button" class="btn btn-primary" id="btnSearch">Tìm kiếm</button>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        @if (RDAuthorize.IsPermissionConfig("CustomerAdd"))
                        {
                            <div class="box-search" style="padding-bottom: 10px">
                                <div class="form-inline">
                                    <a class="btn btn-primary" href="@Url.Action("AddCustomer")"><i class="fa fa-plus"></i>Thêm Khách hàng</a>
                                </div>
                            </div>
                        }
                        <div class="table-responsive" id="divCustomer">
                            @{Html.RenderAction("_PartialCustomer");}
                        </div>
                        <nav class="text-center">
                            <ul id="pagination" class="pagination"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        var urlAjaxSearch = '@Url.Action("_PartialCustomer")';
        var urlAjaxDelete = '@Url.Action("DeleteCustomer")';
    </script>
    <script src="~/Scripts/app/customer/index.js"></script>
}
