<?xml version="1.0"?>

<appSettings>

  <add key="ConfigLogPath" value="D:\Comment\"/>
  
  <add key="DefaultImage" value="/Content/images/gallery/4.jpg"/>
  <add key="RowOnPage" value="10" />
  <add key="UrlCdn" value="/Content/" />
  <add key="GroupAdmin" value="1" />
  <add key="PageSize" value="2" />
  <add key="IsUsingCdn" value="false" />
  <add key="SizeImage" value="1320x500" />
  <add key="Key" value="123!@#abc" />
  <add key="DateFormat" value="dd-MM-yyyy"/>
  <!-- Account -->
  <add key="AccountView" value="Account_View"/>
  <add key="AccountEdit" value="Account_Edit"/>
  <add key="AccountAdd" value="Account_Add"/>
  <add key="AccountDelete" value="Account_Delete"/>
  <!-- End Account -->
  
  <!-- AccountType -->
  <add key="AccountTypeView" value="AccountType_View"/>
  <add key="AccountTypeEdit" value="AccountType_Edit"/>
  <add key="AccountTypeAdd" value="AccountType_Add"/>
  <add key="AccountTypeDelete" value="AccountType_Delete"/>
  <add key="AccountTypeDeletePermission" value="AccountType_Delete_Permission"/>
  <!-- End AccountType -->
  
  <!-- Menu -->
  <add key="MenuView" value="Menu_View"/>
  <add key="MenuEdit" value="Menu_Edit"/>
  <add key="MenuAdd" value="Menu_Add"/>
  <add key="MenuDelete" value="Menu_Delete"/>
  <!-- End Menu -->
  
  <!-- Permission -->
  <add key="PermissionView" value="Permission_View"/>
  <add key="PermissionEdit" value="Permission_Edit"/>
  <add key="PermissionAdd" value="Permission_Add"/>
  <add key="PermissionDelete" value="Permission_Delete"/>
  <!-- End Permission -->
  
  <!-- Article -->
  <add key="ArticleView" value="Article_View"/>
  <add key="ArticleEdit" value="Article_Edit"/>
  <add key="ArticleAdd" value="Article_Add"/>
  <add key="ArticleDelete" value="Article_Delete"/>
  <!-- End Article -->
  
  <!-- Banner -->
  <add key="BannerView" value="Banner_View"/>
  <add key="BannerEdit" value="Banner_Edit"/>
  <add key="BannerAdd" value="Banner_Add"/>
  <add key="BannerDelete" value="Banner_Delete"/>
  <!-- End Banner -->
  
  <!-- Config -->
  <add key="ConfigView" value="Config_View"/>
  <add key="ConfigEdit" value="Config_Edit"/>
  <add key="ConfigAdd" value="Config_Add"/>
  <add key="ConfigDelete" value="Config_Delete"/>
  <!-- End Config -->
  
</appSettings>