<form name="nameForm" novalidate="" ng-submit="Save()">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel17">Hợp đồng vay họ</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-body">
                <table class="table table-bordered mb-0">
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md-3 icheck_minimal skin-flat">
                                    <input type="radio" ng-model="Modal.Data.IsSystem" id="chkIsNotSystem" i-check ng-value="false">
                                    <label for="chkIsNotSystem">Khách hàng mới</label>
                                </div>
                                <div class="col-md-6 icheck_minimal skin-flat">
                                    <input type="radio" id="chkIsSystem" ng-model="Modal.Data.IsSystem" i-check ng-value="true">
                                    <label for="chkIsSystem"> Khách hàng đã có trong hệ thống</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md-2">
                                    Tên khách hàng<span style="color:red">*</span>
                                </div>
                                <div class="col-md-5">
                                    <input required ng-if="Modal.Data.IsSystem == false" type="text" ng-model="Modal.Data.CustomerName" class="form-control" placeholder="Họ và tên" name="txtCustomerName">
                                    <div ng-if="Modal.Data.IsSystem == false" ng-show="nameForm.txtCustomerName.$dirty && nameForm.txtCustomerName.$invalid">
                                        <p class="help-block font-red" ng-show="nameForm.txtCustomerName.$error.required">Vui lòng nhập tên khách hàng.</p>
                                    </div>

                                    <select chosen class="form-control" ng-if="Modal.Data.IsSystem == true"
                                            no-results-text="'No data found!'"
                                            placeholder-text-multiple="'Choose all suppliers'"
                                            ng-model="Modal.Data.CustomerId"
                                            ng-options="option.Id as option.Text for option in CustomerList"
                                            name="selCustomerId" required>
                                        <option value="">-- Chọn khách hàng --</option>
                                    </select>
                                    <div ng-if="Modal.Data.IsSystem == true" ng-show="nameForm.selCustomerId.$dirty && nameForm.selCustomerId.$invalid">
                                        <p class="help-block font-red" ng-show="nameForm.selCustomerId.$error.required">Vui lòng chọn khách hàng.</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    Mã HĐ
                                </div>
                                <div class="col-md-3">
                                    <input type="text" ng-model="Modal.Data.Code" ng-disabled="true"
                                           class="form-control" placeholder="Mã HĐ" required name="txtMaHD" />
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md-2">
                                    Số CMND/Hộ chiếu
                                </div>
                                <div class="col-md-5">
                                    <input ng-model="Modal.Data.IdentityCard" type="text" class="form-control" name="txtCMND" ng-focus="ShowDetailIdentityCard()" />

                                </div>
                                <div class="col-md-2">
                                    SĐT
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" ng-model="Modal.Data.Phone" />

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr style="display: none;" id="detai-lIdentityCard">
                        <td>
                            <div class="row">
                                <div class="col-md-2">
                                    Ngày cấp
                                </div>
                                <div class="col-md-5">
                                    <input ng-model="Modal.Data.ICCreateDate" type="text" class="form-control" name="txtICCreateDate" />

                                </div>
                                <div class="col-md-2">
                                    Nơi cấp
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" ng-model="Modal.Data.ICCreatePlace" />

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md-2">
                                    Địa chỉ
                                </div>
                                <div class="col-md-10">
                                    <textarea type="text" ng-model="Modal.Data.Address" class="form-control"></textarea>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md-2">
                                    Bát họ
                                </div>
                                <div class="col-md-5">
                                    <input format-currency-input name="TotalMoney" required ng-init="Modal.Data.TotalMoney = 0" ng-min="1"
                                           type="text" class="form-control" ng-model="Modal.Data.TotalMoney" ng-disabled="Modal.Data.IsPaid"/>
                                    <div ng-show="nameForm.TotalMoney.$dirty && nameForm.TotalMoney.$invalid">
                                        <p class="help-block font-red" ng-show="nameForm.TotalMoney.$error.required">Vui lòng nhập số tiền.</p>
                                        <p class="help-block font-red" ng-show="nameForm.TotalMoney.$error.ngMin">Số tiền không được nhỏ hơn bằng 0 đ</p>
                                    </div>
                                </div>
                                <div class="col-md-5">(@("Chú ý: Bát họ nghĩa là tổng tiền khách phải đóng"))</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md-2">
                                    Tiền đưa khách
                                </div>
                                <div class="col-md-5">
                                    <input format-currency-input type="text" class="form-control" ng-min="1"
                                           required name="MoneyForGues" ng-disabled="Modal.Data.IsPaid"
                                           ng-model="Modal.Data.MoneyForGues" ng-init="Modal.Data.MoneyForGues = 0" />
                                    <div ng-show="nameForm.MoneyForGues.$dirty && nameForm.MoneyForGues.$invalid">
                                        <p class="help-block font-red" ng-show="nameForm.MoneyForGues.$error.required">Vui lòng nhập số tiền.</p>
                                        <p class="help-block font-red" ng-show="nameForm.MoneyForGues.$error.ngMin">Số tiền không được nhỏ hơn bằng 0 đ</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    (Tổng tiền khách nhận được)
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md-2">
                                    Bốc trong vòng
                                </div>
                                <div class="col-md-5">
                                    <input format-currency-input type="text" class="form-control" ng-model="Modal.Data.LoanTime"
                                           required name="LoanTime" ng-disabled="Modal.Data.IsPaid"/>
                                    <div ng-show="nameForm.LoanTime.$dirty && nameForm.LoanTime.$invalid">
                                        <p class="help-block font-red" ng-show="nameForm.LoanTime.$error.required">Vui lòng nhập số ngày.</p>
                                        <p class="help-block font-red" ng-show="nameForm.LoanTime.$error.ngMin">Số ngày không được nhỏ hơn bằng 0</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    Ngày => ( {{(Modal.Data.TotalMoney/Modal.Data.LoanTime)|currency:"":0}} / 1 ngày )
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md-2">
                                    Số ngày đóng tiền
                                </div>
                                <div class="col-md-5">
                                    <input format-currency-input type="text" class="form-control"
                                           ng-model="Modal.Data.Frequency" ng-init="Modal.Data.Frequency = 1"
                                           required name="Frequency" />
                                    <div ng-show="nameForm.Frequency.$dirty && nameForm.Frequency.$invalid">
                                        <p class="help-block font-red" ng-show="nameForm.Frequency.$error.required">Vui lòng nhập số ngày.</p>
                                        <p class="help-block font-red" ng-show="nameForm.Frequency.$error.ngMin">Số ngày không được nhỏ hơn bằng 0</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    (VD : 3 ngày đóng 1 lần thì điền số 3 )
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md-2">
                                    Ngày bốc
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group ng-isolate-scope" moment-picker="Modal.Data.FromDateString" format="DD-MM-YYYY">
                                        <input class="form-control ng-pristine ng-valid ng-scope moment-picker-input ng-empty ng-touched"
                                               placeholder="Ngày góp" ng-model="Modal.Data.FromDateString" ng-model-options="{ updateOn: 'blur' }"
                                               ng-init="Modal.Data.FromDateString = '@(DateTime.Now.ToString("dd-MM-yyyy"))'"
                                               tabindex="0" name="FromDateString" required  ng-disabled="Modal.Data.IsPaid"/>
                                        <div class="input-group-append ng-scope">
                                            <span class="input-group-text" id="basic-addon2"><span class="fa fa-calendar"></span></span>
                                        </div>
                                    </div>
                                    <div ng-show="nameForm.FromDateString.$dirty && nameForm.FromDateString.$invalid">
                                        <p class="help-block font-red" ng-show="nameForm.FromDateString.$error.required">Vui lòng nhập ngày.</p>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <input type="checkbox" ng-model="Modal.Data.IsBefore" id="chkIsBefore" i-check />
                                    <label for="chkIsBefore">Thu họ trước</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md-2">
                                    Tiền dịch vụ
                                </div>
                                <div class="col-md-5">
                                    <input format-currency-input type="text" class="form-control"
                                           ng-model="Modal.Data.MoneyServices" ng-value="0" />
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md-2">
                                    Tiền giới thiệu
                                </div>
                                <div class="col-md-5">
                                    <input format-currency-input type="text" class="form-control"
                                           ng-model="Modal.Data.MoneyIntroduce" ng-value="0" />
                                </div>
                                <div class="col-md-5" ng-if="Modal.Data.Id > 0 && Modal.Data.IsCloseContract == false">
                                    <button type="button" class="btn btn-outline-primary" ng-click="UpdateMoneySI()">Cập nhật tiền DV và GT</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md-2">
                                    Ghi chú
                                </div>
                                <div class="col-md-10">
                                    <textarea type="text" class="form-control" ng-model="Modal.Data.Note"></textarea>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-md-2">
                                    NV thu tiền
                                </div>
                                <div class="col-md-5">
                                    <select ng-model="Modal.Data.StaffManagerId"
                                            class="form-control"
                                            ng-options="item.Id as item.Username for item in staffList">
                                        <option value="">Nhân viên thu tiền</option>
                                    </select>
                                </div>

                                <div class="col-md-3">
                                    (Người đi thu tiền họ cho HĐ)
                                </div>
                            </div>
                        </td>
                    </tr>

                    @if (RDAuthorize.IsAdmin)
                    {
                        <tr ng-if="Modal.Data.Id > 0 && Modal.Data.IsCloseContract == false">
                            <td>
                                <div class="row">
                                    <div class="col-md-2">
                                        Chuyển sang cửa hàng
                                    </div>
                                    <div class="col-md-5">
                                        <select chosen class="form-control"
                                                no-results-text="'No data found!'"
                                                ng-model="Modal.Data.StoreIdConvert"
                                                ng-options="option.Id as option.Name for option in StoreList"
                                                name="selCustomerId" required>
                                            <option value="">-- Chọn cửa hàng --</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-outline-primary" ng-disabled="Modal.Data.StoreIdConvert == '@RDAuthorize.Store.Id'" ng-click="ConvertStore(Modal.Data.Id)">Chuyển</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-if="Modal.Data.IsCloseContract == false" class="btn grey btn-outline-secondary" ng-click="InHopDongVay()"><i class="fa fa-print"></i> In Hợp Đồng</button>
            <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
            <button type="submit" ng-if="Modal.Data.IsCloseContract == false" class="btn btn-outline-primary" ng-disabled="nameForm.$invalid">Save changes</button>
        </div>
    </div>
</form>

@Html.Partial("_InHopDongVay")